<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/testing.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon"/>
    <title>Test Page</title>
</head>
<body>
<div id="horizontalwrap">
    <div id="one1" class="writing">
        1
    </div>
    <div id="two2" class="writing">
        2
    </div>
    <div id="three3" class="writing">
        3
    </div>
    <div id="four4" class="writing">
        4
    </div>
    <div id="five5" class="writing">
        5
    </div>
    <div id="six6" class="writing">
        6
    </div>
</div>
</body>
</html>