.blackColour{
    color: #000000;
}

.grayColour{
    color: #999999;
}

.darkGrayColour{
    color: #333333;
}

.greenColour{
    color: #AFF016;
}

.blueColour{
    color: #1F51AC;
}

.redColour{
    color: #C91285;
}

.orangeColour{
    color: #FFAE18;
}

.whiteBackground{
    background: #ffffff;
}

.lightGrayBackground{
    background: rgba(220,220,220,0.8);
}

.grayBackground{
    background: #bbbbbb;
}

.darkGrayBackground{
    background: #333333;
}

.blueBackground{
    background: #1F51AC;
}

.redBackground{
    background: #C91285;
}

.greenBackground{
    background: #AFF016;
}